<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wonderful blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>

<body>

    <header>
        <nav>

            <div id="register_div">
                <input id="email_register" type="email">
                <input id="password_register" type="password">
                <button onclick="register()">Register</button>
            </div>
            <form action="/login" method="POST">
                <input name="email" type="email">
                <input name="password" type="password">
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>

            <div id="when_connected">
                <button class="btn btn-warning" onclick="logout()">Log Out</button>
            </div>

        </nav>
    </header>