<%- include ../partials/header.ejs %>

    <form action="/post/create" method="post">
        <input type="text" name="title">
        <textarea name="content"></textarea>
        <button type="submit">Soumettre</button>
    </form>
    <a href="/">Retourner à l'accueil</a>

    <%- include ../partials/footer.ejs %>