<%- include ../partials/header.ejs %>
    <div class="container">
        <div class="col-sm">
            <form action="/post/create" method="post">
                <div class="form-group">
                    <label for="post_title">Titre du message</label>
                    <input type="text" name="title" id="post_title" class="form-control" value="<%= post.title %>">
                </div>
                <div class="form-group">
                    <label for="post_content">Contenu du message</label>
                    <textarea name="content" id="post_content" class="form-control"><%= post.content %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </form>
            <a href="/" class="btn btn-primary">Retourner à l'accueil</a>
        </div>
    </div>
    <%- include ../partials/footer.ejs %>