<li>
    <div>
        <%= post.title %>
    </div>
    <div>
        <%= post.content %>
    </div>
    <a href='/post/delete/<%=i %>'>Supprimer</a>
    <a href='/post/edit/<%= i %>'>Modifier</a>
</li>