<div class="card" class="col-sm">
    <div class="card-body">
        <h5 class="card-title">
            <%= post.title %>
        </h5>
        <p class="card-text">
            <%= post.content %>
        </p>
        <a href="/post/edit/<%=i %>" class="btn btn-primary">Modifier</a>
        <a href="/post/delete/<%=i %>" class="btn btn-danger">Supprimer</a>
    </div>
</div>