<%- include partials/header.ejs %>
    <div class="list-group">
        <% posts.forEach(function(post, index){ %>
            <%- include('post/show', {post: post, i: index}) %>
                <% }) %>
    </div>
    <a href="/post/new" style="font-size:3em;">
        <i class="fas fa-plus"></i>
    </a>

    <%- include partials/footer.ejs %>