<%- include partials/header.ejs %>
    <ul>
        <% posts.forEach(function(post, index){ %>
            <%- include('post/show', {post: post, i: index}) %>
                <% }) %>
    </ul>
    <a href="/post/new">Créer un nouveau post</a>

    <%- include partials/footer.ejs %>