<%- include ../partials/header.ejs %>
    <form action="/sign_in" method="POST">
        <input name="email" type="email">
        <input name="password" type="password">
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    <%- include ../partials/footer.ejs %>